{% extends 'base.html' %}

{% block content %}
    {% load static %}
    {% load widget_tweaks %}
    
    <div class="row">
        <div class="col-md-2 pr-2 py-2">
            <a href="/franchise" class="back-link mt-5 ml-5">
                <span class="arrow">&#8592;</span>
                Вернуться к поиску
            </a>
            <div class="filter-menu">
                <ul>
                    {% for category in franchise.categories.all %}
                        <li><a href="/franchise/{{ franchise.id }}/?category={{ category.slug }}" class="ftitle">{{ category.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-8 pr-2 py-2">
            <div class="form-outline">
                <p class='page-name'> Все товары</p>
                <input type="search" id="form1" class="search-food" placeholder="Type query" aria-label="Search"/>
            </div>
            <div class="row">
                {% if food %}
                    {% for item in food %}
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                            <div class="row custom-card">
                                <div class="col-6 pl-2 py-2 d-flex flex-column justify-content-around align-items-center">
                                    <a href="/{{item.slug}}" class="food-link">
                                        <h5 class="ctitle">{{ item.title }}</h5>
                                    </a>
                                    <p class="ctext">{{ item.price }}</p>
                                    <div class="row">
                                        <button class="decrement" onclick="changeQuantity(this, -1)">-</button>
                                        <span class="quantity-display" data-quantity="0">0</span>
                                        <button class="increment button-food" onclick="changeQuantity(this, 1)" data-food-id="{{ item.id }}" data-food-title="{{ item.title }}" data-food-price="{{ item.price }}" data-food-image="{{ item.image }}" data-food-quantity="0" onclick="addToCart(this)">+</button>
                                    </div>
              
                                    <div class="button-wrapper" hidden>
                                        <button type="button" class="button-food" data-food-id="{{ item.id }}" data-food-title="{{ item.title }}" data-food-price="{{ item.price }}" data-food-image="{{ item.image }}" data-food-quantity="0" onclick="addToCart(this)">Добавить в корзину</button>
                                    </div>
                                </div>
                                <div class="col-6 p-0">
                                    <a href="/{{item.slug}}" class="food-link">
                                        <img src="{{ item.image.url }}" class="img-fluid" style="width: auto; height: 100%;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class='pdd'>No food items found.</p>
                {% endif %}
            </div>
            <script src="/static/js/menu.js"></script>
            <script>
                var savedCart = JSON.parse(localStorage.getItem("cart")) || {};
                var cart = savedCart;

                // Clear the cart
                function clearCart() {
                    cart = {};
                    saveCartToLocalStorage();
                    updateCartDisplay();
                }

                // Function to handle franchise change
                function changeFranchise(franchiseId) {
                    clearCart();
                    // You can perform any additional logic here, such as updating the UI or making an API request to fetch the menu for the selected franchise
                }

                var foodItems = document.querySelectorAll('.button-food');
                    foodItems.forEach(function(item) {
                    var foodId = item.getAttribute("data-food-id");
                    if (foodId in savedCart) {
                        var quantity = savedCart[foodId].quantity;
                        var quantityDisplay = item.parentNode.parentNode.querySelector(".quantity-display");
                        if (quantityDisplay) {
                        quantityDisplay.setAttribute("data-quantity", quantity);
                        quantityDisplay.innerText = quantity;
                        }
                    }
                    });
            
                    var cart = JSON.parse(localStorage.getItem("cart")) || {};
            
                    // function addToCart(button,) {
                    //     var foodId = button.getAttribute("data-food-id");
                    //     var foodTitle = button.getAttribute("data-food-title");
                    //     var foodPrice = parseFloat(button.getAttribute("data-food-price"));
                    //     var foodImage = button.getAttribute("data-food-image");
                    //     var foodQuantity = parseInt(button.getAttribute("data-food-quantity"));
                
                    //     var quantityDisplay = button.parentNode.parentNode.querySelector(".quantity-display");
                    //     var quantity = parseInt(quantityDisplay.getAttribute("data-quantity"));
                
                    //     if (quantity > 0 ) {
                    //         cart[foodId] = {
                    //             title: foodTitle,
                    //             price: foodPrice,
                    //             quantity: quantity,
                    //             image: foodImage
                    //         };
                    //         saveCartToLocalStorage();
                    //         updateCartDisplay();
            
                    //     }
                    //     else {
                    //         delete cart[foodId];
                    //         saveCartToLocalStorage();
                    //         updateCartDisplay();
                    //     } 
                    // }
                
            function changeQuantity(button, increment) {
                var quantityDisplay = button.parentNode.querySelector(".quantity-display");
                var currentQuantity = parseInt(quantityDisplay.getAttribute("data-quantity"));
                var newQuantity = currentQuantity + increment;
            
                if (newQuantity >= 0) {
                    quantityDisplay.setAttribute("data-quantity", newQuantity);
                    quantityDisplay.innerText = newQuantity;
                    var foodId = button.parentNode.parentNode.querySelector(".button-food").getAttribute("data-food-id");
            
                    if (newQuantity === 0 && foodId in cart) {
                        delete cart[foodId]; // Remove the item from the cart
                    } else {
                        if (foodId in cart) {
                            cart[foodId].quantity = newQuantity;
                        } else {
                            var foodTitle = button.parentNode.parentNode.querySelector(".button-food").getAttribute("data-food-title");
                            var foodPrice = parseFloat(button.parentNode.parentNode.querySelector(".button-food").getAttribute("data-food-price"));
                            var foodImage = button.parentNode.parentNode.querySelector(".button-food").getAttribute("data-food-image");
            
                            cart[foodId] = {
                                title: foodTitle,
                                price: foodPrice,
                                quantity: newQuantity,
                                image: foodImage
                            };
                        }
                    }
            
                    saveCartToLocalStorage();
                    updateCartDisplay();
                }
            }
            
                
                   
                    function updateQuantityDisplay(container, quantity) {
                        var quantityDisplay = container.querySelector(".quantity-display");
                        quantityDisplay.innerText = quantity;
                    }
                
                    
                    function updateCartDisplay() {
                        var cartItemsDiv = document.getElementById("cart-items");
                        cartItemsDiv.innerHTML = "";
                
                        for (var foodId in cart) {
                            var item = cart[foodId];
                            var itemElement = document.createElement("div");
                            itemElement.innerText = item.title + " - " + item.quantity + item.price;
                            cartItemsDiv.appendChild(itemElement);
                        }
                    }
                
                
                    function saveCartToLocalStorage() {
                        localStorage.setItem("cart", JSON.stringify(cart));
                    }
                
                  
                    if (Object.keys(cart).length > 0) {
                        updateCartDisplay();
                    }
                
                
                    window.addEventListener("beforeunload", function() {
                        saveCartToLocalStorage();
                    });
                
                    function checkout() {
                        console.log(cart);
                        localStorage.removeItem("cart");
                    }
                </script>
{% endblock %}