{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}

<head>
  
</head>

<body>
    <div id="cart-section">
        <h2>Корзина</h2>
        <div id="cart-items" style="color: white"></div>
        <button id="checkout-button" onclick="checkout()">Оформить заказ</button>
    </div>
    <div class="menu-bar col-12 col-md-8">
        <div class="filter-menu">
            <form method="GET" id="filter-form">
               
            </form>
        </div>
        <div class="row">
            {% if food %}
            {% for item in food %}
            <div class="col-6 col-md-6 m-2">
                <div>
                    <div class="clist d-flex flex-column">
                        <h5 class="ctitle">{{ item.title }}</h5>
                        <p class="ctext">{{ item.price }}</p>
                        <div>
                            <button class="decrement" onclick="changeQuantity(this, -1)">-</button>
                            <input type="number" class="quantity" value="0" min="0">
                            <button class="increment" onclick="changeQuantity(this, 1)">+</button>
                        </div>

                        <div class="button-wrapper">
                            <button type="button" class="button-food" data-food-id="{{ item.id }}" data-food-title="{{ item.title }}" data-food-price="{{ item.price }}" data-food-image="{{ item.image }}"onclick="addToCart(this)">Добавить в корзину</button>
                        </div>
                    </div>
                    <img class="card-img-top img-fluid w-50 h-75 align-self-center m-3" src="{{ item.image.url }}" alt="{{ item.title }}">
                </div>
            </div>
            {% endfor %}
            
            {% else %}
            <p>No food items found.</p>
            {% endif %}
        </div>
    </div>

    <script>
        // Load cart from local storage if available
        var cart = JSON.parse(localStorage.getItem("cart")) || {};
    
        function addToCart(button) {
            var foodId = button.getAttribute("data-food-id");
            var foodTitle = button.getAttribute("data-food-title");
            var foodPrice = parseFloat(button.getAttribute("data-food-price"));
            var foodQuantity = parseInt(button.getAttribute("data-food-quantity"));
            var foodImage = button.getAttribute("data-food-image");

            var quantityInput = button.parentNode.previousElementSibling.querySelector(".quantity");
            var quantity = parseInt(quantityInput.value);

            if (quantity > 0) {
                cart[foodId] = {
                    title: foodTitle,
                    price: foodPrice,
                    quantity: quantity,
                    image: foodImage
                };
                saveCartToLocalStorage();
                updateCartDisplay();
            }else {
        
                var foodId = button.getAttribute("data-food-id");
                delete cart[foodId];
                saveCartToLocalStorage();
                updateCartDisplay();
    }
            
        }
    
        function changeQuantity(button, increment) {
            var quantityInput = button.parentNode.querySelector(".quantity");
            var currentQuantity = parseInt(quantityInput.value);
            var newQuantity = currentQuantity + increment;
    
            if (newQuantity >= 0) {
                quantityInput.value = newQuantity;
                saveCartToLocalStorage();
            }
            
        }

        function updateCartDisplay() {
            var cartItemsDiv = document.getElementById("cart-items");
            cartItemsDiv.innerHTML = "";
    
            for (var foodId in cart) {
                var item = cart[foodId];
                var itemElement = document.createElement("div");
                itemElement.innerText = item.title + " - " + item.quantity + item.price;
                cartItemsDiv.appendChild(itemElement);
            }
        }
        
        function saveCartToLocalStorage() {
            localStorage.setItem("cart", JSON.stringify(cart));
        }
    
        function checkout() {
            console.log(cart);
            localStorage.removeItem("cart");
        }
    </script>
    
    
</body>
{% endblock %}
 