{% extends 'base.html' %}

{% load static %}

<!-- {% block css_add %} -->
<link rel="stylesheet" type="text/css" href="/static/css/profile.css">
<!-- {% endblock %}

{% block content %} -->
<form action="" method="post">
    {% csrf_token %}
    <!-- <input type="password" name="old_pass" id="old_pass" placeholder="Старый пароль">
    <input type="password" name="new_pass" id="new_pass" placeholder="Новый пароль">
    <input type="password" name="confirm_new_pass" id="confirm_new_pass" placeholder="Подтведите новый пароль">
    <input type="submit" value="Change"> -->

    <!-- пароль хэшированный ли покажется, хз: {{user.password}} -->
    <div style="color: rgb(24, 175, 13);">{{ form.errors }}</div>

                                        
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 row justify-content-center">
                <h1>Изменение пароля</h1>
                <form method="post">
                    <!-- {% csrf_token %}
                    {{ form.media }}
                    {{ form.errors }} -->
                    <div class="col-12 d-flex flex-column flex-lg-row justify-content-between m-0 p-0">
                        
                        <div class="form-group">
                            <label style="color: aliceblue;" for="{{ form.first_name.id_for_label }}">Старый пароль</label>
                            <input type="password" class="user_profile_input" name="old_pass" id="old_pass" placeholder="Старый пароль">
                        </div>
                        
                            
                  
                        <div class="form-group">
                            <label style="color: aliceblue;" for="{{ form.first_name.id_for_label }}">Новый пароль</label>
                            <input type="password" class="user_profile_input" name="new_pass" id="new_pass" placeholder="Новый пароль">
                        </div> 
                    </div> 
                    <div class="col-12 justify-content-center m-0 p-0">
                    
                       
                        <div class="form-group ">            
                            <label style="color: aliceblue;" for="{{ form.phone_number.id_for_label }}">Подтведите новый пароль:</label>
                            <input type="password" class="user_profile_input" name="confirm_new_pass" placeholder="Новый пароль"id="confirm_new_pass">
                        </div>

                        <button class="button-update" type="submit">
                            <img class="img-update" src="https://cdn-icons-png.flaticon.com/512/3597/3597088.png">
                            Изменить профиль
                        </button>
                      
                </form>
            </div>
        </div>
    </div>
</form>

{% endblock %}