h1 {
    text-align: center; 
    color: white;
    font-size: 38px;
    margin-top: 5%;
    margin-bottom: 5%;
  } 

  .form-control {
    border-radius: 15px; 
    border: 2px solid rgb(12, 240, 88); 
    color: rgb(12, 240, 88);
    margin-top: 1%;
    padding: 5px;
    background-color: #343a40;
    width: 100%;
    display: flex;
    justify-content: left;
    width: 75%;
  }
  .form-control:focus {
    border: 2px solid rgb(12, 240, 88);
    background-color: #343a40;
    color: rgb(12, 240, 88);
  }
  .form-control::placeholder {
    color: rgb(12, 240, 88);
  }
  .form-label {
    display: flex;
    text-align: left;
    color: aliceblue;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .button-add{
    border: none;
    background: rgb(12, 240, 88);
    padding: 8px 25px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 15px;
    transition: 0.4s;
    margin-top: 3%;
}
.button-add:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.button-add-tovar{
  border: none;
  background: rgb(12, 240, 88);
  padding: 8px 25px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 15px;
  transition: 0.4s;
  margin-top: 3%;
}
.button-add-tovar:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.button-delete {
  border: none;
  margin-right: 1rem;
  background: rgb(240, 50, 12);
  padding: 8px 25px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 15px;
  transition: 0.4s;
  margin-top: 3%;
}

.button-delete:hover {
  transform: scale(1.3);
  cursor: pointer;
}


.button-wrapper {
    display: flex;
    justify-content: right;
    margin-right: 16%;
    align-items: center;
    margin-top: 20px; /* Добавьте отступ сверху, если нужно */
}
.form-row {
    display: flex;
}

.form-col-left {
    flex: 1;
    margin-right: 20px; /* Добавьте необходимый отступ между колонками */
}

.form-col-right {
    flex: 2;
}
.image-placeholder {
    width: 300px; 
    height: 300px; 
    background-color: rgba(204, 204, 204, 0.653); 
}

.image-upload {
    margin-left: 150px; /* Измените значение отступа по вашему усмотрению */
}

.image-preview {
    border: 3px solid #ccc; /* Установите стиль границы по вашему усмотрению */
    margin-left: 150px; 
    display: inline-block;
}

@media (max-width: 767px) {
  .image-preview {
    margin: auto;
    margin-left: 3rem;
  }

  .form-row {
    flex-direction: column;
  }

  .form-col-left,
  .form-col-right {
    margin-right: 0;
  }

  .form-control {
    margin-left: 2.5rem;
  }

  .form-label {
    margin-left: 2.5rem;
  }

  .button-add-tovar {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .image-upload {
    margin-left: 2rem;
    margin-right: 2rem;
  }


  .button-wrapper {
    display: flex;
    justify-content: right;
    margin-right: 1%;
    margin-left: 2rem;
    align-items: center;
    margin-top: 20px;
  }
}

/* .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
} */
/* @media (max-width: 576px) {
  h1 {
    font-size: 1.5rem;
  }

  .form-control,
  textarea,
  input[type="number"],
  input[type="file"] {
    font-size: 0.875rem;
  }
} */













































/* Адаптивные стили для мобильных устройств */
/* @media (max-width: 576px) {
  h1 {
    font-size: 1.5rem;
  }

  .form-control,
  textarea,
  input[type="number"],
  input[type="file"] {
    font-size: 0.875rem;
  }
} */
