.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (max-width: 600px) {
  .modal {
    align-items: flex-end;
    padding-bottom: 20px; 
  }
}

.vertical-line {
  margin-left: 3rem;
}

.arrow {
  color: rgb(12, 240, 88);
  margin-right: 5px;
  margin-top: 2rem;
}

.back-link {
  display: inline-block;
  margin-top: 3rem;
  margin-left: 7rem;
  color: aliceblue;
}

.back-link:hover {
 color: rgb(12, 240, 88);;
}

.back-icon {
  width: 10px;
  height: 15px;
  margin-right: 1.5rem;
}

.franchise-cart-title {
  margin-top: 2.4rem;
  margin-left: 18rem;
}

.korzina {
  color: white;
  margin-left: 6rem;
  width: 174px;
  height: 33px;
  left: calc(50% - 174px/2 - 466px);
  top: 69px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  color: #D9D9D9;
}



.cart-items {
  padding-right: 50px;
  color: white;
}

.cartItemContainer {
  display: flex;
  align-items: center;
}

.cartItemInfo {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}


.cartItemImage {
  width: 180px;
  height: 125px;
  margin-right: 10px;
  margin-left: 6rem;
  margin-top: 1rem;
}

.row-item-title {
  margin-left: 3rem;
  margin-top: 3rem;
  width: 173.11px;
  height: 33px;
  left: calc(50% - 173.11px/2 - 273.05px);
  top: 149px;
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}

.row-item-quantity {
  margin-left: 0rem;
  margin-top: 3.3rem;
}

.square-border {
  border: 2px solid rgb(255, 255, 255);
  padding: 5px;
  margin-bottom: 120px;
}


.row-item-price {
  margin-left: 3rem;
  margin-top: 3rem;
  color: white;
}

.deleteImage {
  margin-left: 1rem;
  margin-top: 3rem;
  width: 20px;
  height: 20px;
}

.quantityElement {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.quantityButton {
  margin: 0 5px;
  margin-top: 3rem;
}

.quantityButton1 {
  margin: 0 5px;
  margin-top: 3rem;
}

.priceElement {
  margin-top: 5px;
}

.cart-icon {
  width: 30px;
  height: 30px;
}

.title-cart {
  text-align: center;

}

.purchase-button {
  display: block;
  border: none;
  margin: auto;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(12, 240, 88);
  color: black;
  transition: 0.4s;
  border-radius: 25px;

}

.purchase-button:hover {
  transform: scale(1.1);
}

.quantityButton {
  background-color: rgb(26, 23, 23);
  color: white;
  font-size: 15px;
  text-decoration: none;
  padding: 5px 6px;
  /* Установите внутренние отступы кнопки */
  border-radius: 5px;
  font-weight: bold;
  height: 37px;
  border: 1px solid rgb(26, 23, 23); 
}

.quantityButton:hover {
  background: rgb(12, 240, 88);
  ;
}

.quantityButton1 {
  background-color: rgb(26, 23, 23);;
  color: white;
  font-size: 15px;
  text-decoration: none;
  padding: 5px 6px;
  /* Установите внутренние отступы кнопки */
  border-radius: 5px;
  font-weight: bold;
  height: 37px;
  border: 1px solid rgb(26, 23, 23);
}

.quantityButton1:hover {
  background: rgb(12, 240, 88);
  ;
}

.quantity-value {
  margin: 0 10px;
  color: white;
}


h1 {
  text-align: center;
}


/* .mt-5 {
  margin-top: 3rem;
}

.ml-5 {
  margin-left: 3rem;
}

.mr-6 {
    margin-right: 15rem !important;
}

.ml-6 {
    margin-left: 6rem !important;
}



.mt-4 {
  margin-top: 5rem !important;
} */

.from-modal {
  color: aliceblue;
}


.hr-cart {
  color: rgb(255, 255, 255);
  background-color: antiquewhite;
}

.cart-modal {
  /* border: 2px solid rgb(12, 240, 88); */
  display: inline-block;
  padding: 5px;
  white-space: nowrap;
  margin-right: 3rem;
}

.hiddenElement {
    display: none;
}

@media (max-width: 767px) {

  h1,
  h2 {
    text-align: center;
  }

  .title-cart {
    margin-left: 0;
  }

  .cart {
    margin-left: 0;
    margin-right: 0;
  }

  .col-12 {
    flex-direction: column;
  }

  .button-wrapper {
    align-self: center;
  }

  .cart-modal {
    margin-left: 0;
    margin-top: 1rem;
  }
}
@media (max-width: 767px) {
  .cart-modal {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
  }
  .row-item-container {
    flex-direction: column;
  }

  .row-item-price {
    margin-left: 6.9rem;
    margin-top: -3rem;
    font-size: 14px;

  }

  .col-12 {
    flex-wrap: wrap;
  }

  .col-12 .cart-modal {
    margin-top: 1rem;
    width: 100%;
  }


  .from-modal, .hr-cart {
    font-size: 14px;
    margin-top: 8px;
  }

  .from-modal {
    margin-bottom: 4px;
  }

  .cart-button {
    font-size: 14px;
    padding: 8px 16px;
    margin-top: 16px;
  }

  .modal-dialog {
    margin-top: 50px;
  }

  .back-link {
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .back-icon {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .square-border {
    display: ;
  }

  .modal-content {
    border-radius: 0;
  }

  .korzina {
    text-align: center;
    margin-left: 7.5rem;
  }

  .franchise-cart-title {
    margin-top: 1rem;
    margin-left: 5rem;
    margin-top: 2.4rem;
  }

  .cartItemImage {
    width: 85px;
    height: 70px;
    margin-left: 1rem;
  }

  .row-item-title {
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-left: 0rem;
    white-space: nowrap;
    font-size: 18px;
  }

  .quantityButton {
    margin-left: -3.4rem;
    font-size: 15px;
    padding: 4px 4px;
    margin-right: 1rem;
    margin-top: 30px;
  }

  .quantityButton1{
    margin-top: 30px;
  }

  .row-item-quantity {
    /* margin-left: 0.5rem;
    margin-right: 0.8rem; */
    margin-top: 2.3rem;
    margin-right: 0.7rem;
  }

  .deleteImage {
    margin-left: 25rem;
    margin-top: -3.1rem;
  }

}

/* @media (max-width: 768px) {
  /* Adjust font size for smaller screens */
  /* .row-item-title,
  .row-item-quantity,
  .row-item-price {
      font-size: 18px;
  }

} */ 

/* @media (max-width: 576px) { */
  /* Adjust font size for even smaller screens */
  /* .row-item-title,
  .row-item-quantity,
  .row-item-price {
      font-size: 18px;
}
  
} */
@media (max-width: 912px) {
  .cart-modal {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
  }
  .row-item-container {
    flex-direction: column;
  }

  .row-item-price {
    margin-left: -12.9rem;
    margin-top: 2rem;
    font-size: 14px;

  }

  .col-12 {
    flex-wrap: wrap;
  }

  .col-12 .cart-modal {
    margin-top: 1rem;
    width: 100%;
  }


  .from-modal, .hr-cart {
    font-size: 14px;
    margin-top: 8px;
  }

  .from-modal {
    margin-bottom: 4px;
  }

  .cart-button {
    font-size: 14px;
    padding: 8px 16px;
    margin-top: 16px;
  }

  .modal-dialog {
    margin-top: 50px;
  }

  .modal-content {
    border-radius: 0;
  }


  .cartItemImage {
    width: 85px;
    height: 70px;
    margin-left: 1rem;
  }

  .row-item-title {
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-left: 0rem;
    white-space: nowrap;
    font-size: 18px;
  }

  .quantityButton {
    margin-left: -3.4rem;
    font-size: 15px;
    padding: 4px 4px;
    margin-right: 1rem;
    margin-top: 30px;
  }

  .quantityButton1{
    margin-top: 30px;
  }

  .row-item-quantity {
    /* margin-left: 0.5rem;
    margin-right: 0.8rem; */
    margin-top: 2.3rem;
    margin-right: 0.7rem;
  }

  .deleteImage {
    margin-left: 7rem;
    margin-top: 2.3rem;
  }

}
@media (max-width: 300px){
  .cart-modal {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
  }
  .row-item-container {
    flex-direction: column;
  }

  .row-item-price {
    margin-left: 7.9rem;
    margin-top: -2rem;
    font-size: 14px;

  }

  .col-12 {
    flex-wrap: wrap;
  }

  .col-12 .cart-modal {
    margin-top: 1rem;
    width: 100%;
  }


  .from-modal, .hr-cart {
    font-size: 14px;
    margin-top: 8px;
  }

  .from-modal {
    margin-bottom: 4px;
  }

  .cart-button {
    font-size: 14px;
    padding: 8px 16px;
    margin-top: 16px;
  }

  .modal-dialog {
    margin-top: 50px;
  }

  .modal-content {
    border-radius: 0;
  }


  .cartItemImage {
    width: 85px;
    height: 70px;
    margin-left: 1rem;
  }

  .row-item-title {
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-left: 0rem;
    white-space: nowrap;
    font-size: 18px;
  }

  .quantityButton {
    margin-left: -3.4rem;
    font-size: 15px;
    padding: 4px 4px;
    margin-right: 1rem;
    margin-top: 30px;
  }

  .quantityButton1{
    margin-top: 30px;
  }

  .row-item-quantity {
    margin-top: 2.3rem;
    margin-right: 0.7rem;
  }

  .deleteImage {
    margin-left: 14rem;
    margin-top: -2.0rem;
  }

} 
  @media (max-width: 360px) {
  .cart-modal {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
  }
  .row-item-container {
    flex-direction: column;
  }

  .row-item-price {
    margin-left: 6.9rem;
    margin-top: -3rem;
    font-size: 14px;

  }

  .col-12 {
    flex-wrap: wrap;
  }

  .col-12 .cart-modal {
    margin-top: 1rem;
    width: 100%;
  }


  .from-modal, .hr-cart {
    font-size: 14px;
    margin-top: 8px;
  }

  .from-modal {
    margin-bottom: 4px;
  }

  .cart-button {
    font-size: 14px;
    padding: 8px 16px;
    margin-top: 16px;
  }

  .modal-dialog {
    margin-top: 50px;
  }

  .modal-content {
    border-radius: 0;
  }


  .cartItemImage {
    width: 85px;
    height: 70px;
    margin-left: 1rem;
  }

  .row-item-title {
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-left: 0rem;
    white-space: nowrap;
    font-size: 18px;
  }

  .quantityButton {
    margin-left: -3.4rem;
    font-size: 15px;
    padding: 4px 4px;
    margin-right: 1rem;
    margin-top: 30px;
  }

  .quantityButton1{
    margin-top: 30px;
  }

  .row-item-quantity {
   
    margin-top: 2.3rem;
    margin-right: 0.7rem;
  }

  .deleteImage {
    margin-left: 20rem;
    margin-top: -3.1rem;
  }
}


 
  
 