.arrow {
    color: rgb(12, 240, 88);
    margin-right: 5px;
  }

  .cart-icon {
    width: 30px;
    height: 30px;
  }

  .title-cart {
    text-align: center;
  }

  .cart-button {
    display: block;
    margin: auto;
    padding: 25px;
    font-size: 25px;

  }

  .quantity-wrapper {
    display: flex;
    align-items: center;
    }

    .quantity-button {
        width: 30px;
        height: 30px;
        background-color: #f0f0f0;
        border: none;
        outline: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        }
        
        .quantity-value {
        margin: 0 10px;
        color: white;
        }


h1 {
  text-align: center;
}

.mr-6 {
    margin-right: 15rem !important;
}

.ml-6 {
    margin-left: 6rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 5rem !important;
}

.from-modal {
    color: aliceblue;
}


.hr-cart {
  color: rgb(255, 255, 255);
}
/* .cart-modal {
    border: 2px solid rgb(12, 240, 88);
    display: inline-block;
    padding: 5px;
    white-space: nowrap;
  } */

  @media (max-width: 767px) {
    h1, h2 {
        text-align: center;
    }
    
    .title-cart {
        margin-left: 0;
    }

    .cart {
        margin-left: 0;
        margin-right: 0;
    }

    .col-12 {
        flex-direction: column;
    }

    .button-wrapper {
        align-self: center;
    }

    .cart-modal {
        margin-left: 0;
        margin-top: 1rem;
    }
}