.menu-main{
    display: flex;
    flex-direction: row;
    padding-top: 10%;
}
/* .button-food-filter {
    border: none;
    background: rgb(12, 240, 88);
    padding: 8px 25px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 15px;
    transition: 0.4s;
  } */
.filter-menu {
    background-color: #383838;
    background-clip: border-box;
    border-radius: 0.25rem;
    margin-left: 20px;
    margin-top: 20px;
}

.ficon {
    font-size: 25px;
    margin-left: 10px;
}
.decrement{
    background-color: #8c8f8c;
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding: 5px 6px; /* Установите внутренние отступы кнопки */
    border-radius: 9px;
    font-weight: bold;
}
.decrement:hover{
    background: rgb(136, 26, 9);
}
.increment {
    background-color: #8c8f8c;
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding: 4px 4px; /* Установите внутренние отступы кнопки */ 
    border-radius: 9px;
    font-weight: bold;
}

.increment:hover{
    background: rgb(9, 135, 51);
}
.quantity-display{
    color: white;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
}
.button-add {
    border: none;
    margin-top: px;
    background: rgb(12, 240, 88);
    padding: 8px 25px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 10px;
    transition: 0.4s;
    margin-top: 25px;
}
.ftitle {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
}
.ftitle:link { 
    text-decoration: none;
    color: rgb(12, 240, 88);

}
li {
    list-style:none;
}
li .ftitle {
    margin-left: 10px;
}
.ftitle:visited { text-decoration: none; }


.ftitle:hover { 
    text-decoration: none;
    color: #0df10d;
    transition: .3s }

.ftitle:active { text-decoration: none; }

.custom-card {
    word-wrap: break-word;
    background-color: #383838;
    background-clip: border-box;
    border-radius: 0.25rem;
    margin: 5px 0px;
    padding-bottom: -10px;
}

.food-link {
    text-decoration: none;
}

.food-link:link { text-decoration: none; }


.food-link:visited { text-decoration: none; }


.food-link:hover { text-decoration: none; }


.food-link:active { text-decoration: none; }

.clist{
    display: flex;
    flex-direction: column;
    align-self: center;
    color: white;
    font-size: 50px;
}
.ctitle {
    color: rgb(250, 250, 250);
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ctext {
    color: rgb(0, 255, 30);
    font-size: 15px;
}
.cbtn {
    color: white;
    background-color: rgb(0, 255, 30);
    text-align: center;
    border-radius: 8px;
    padding: 5px 8px;
    font-size: 20px;
    transition-duration: 0.4s;
}
.cbtn:hover {
    background-color: #dfe9df;
    color: white;
}

.intro {
    height:auto;
}

.spoon_fork {
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 1200px) {
    .cimage {
        padding-left: 10%;
        padding-right: 10%;
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 1000px) {
    .cimage {
        padding-left: 10%;
        padding-right: 10%;
        width: 180px;
        height: 180px;
    }
    .ftitle {
        font-size: 16px;
    }
    .col-md-4 .custom-card{
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width: 860px) {
    .cimage {
        padding-left: 10%;
        padding-right: 10%;
        width: 200px;
        height: 200px;
    }
    .cbtn{
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
    .cimage {
        padding-left: 10%;
        padding-right: 10%;
        width: 200px;
        height: 200px;
    }
    .cbtn{
        font-size: 12px;
    }
}

@media screen and (max-width: 770px) {
    .cimage {
        padding-left: 10%;
        padding-right: 10%;
        width: 200px;
        height: 200px;
    }
    .cbtn{
        font-size: 20px;
    }
    li .ftitle {
        display: none; /* Скрываем элементы списка */
      }
      
    li .ftitle:hover {
        display: block; /* При наведении показываем элементы списка */
    }
}

@media screen and (max-width: 470px) {
    .decrement{
        /* padding: 2px 1px; */
        font-size: 14px;
        float: left;
    }
    .decrement:hover{
        background: rgb(136, 26, 9);
    }
    .increment {
        /* padding: 2px 1px; */
        font-size: 14px;
        float: right;
    }
    
    .increment:hover{
        background: rgb(9, 135, 51);
    }

    .quantity-display {
        margin: 0 5px;
        margin-top: 4px;
    }
}
#container{
    margin-top:200px;
}

.btn:hover{
    color:#fff;
}

.input-text:focus{
    box-shadow: 0px 0px 0px;
    border-color:#f8c146;
    outline: 0px;
}

.form-control {
    border: 1px solid #f8c146;
}
.page-name {
    color: white; 
    font-size: 30px;
    margin-left: 8%;
}
.back {
    color: white; 
    font-size: 10px;
    margin-left: 10%;
}
.pdd {
    color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 50%;
}
.search-food{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(12, 240, 88); 
    float: none;
    display: block;
    text-align: left;
    width: 95%;
    height: 15px;
    margin: 5px 5px;
    padding: 14px;
    border-radius: 20px;
}
