{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/cart.css">

{% load widget_tweaks %}

<a href="{% url 'franchise' %}" class="back-link mt-5 ml-5">
    <img class="back-icon" src="https://i.postimg.cc/wTmB78pf/Vector2.png">
    Вернуться к поиску
</a>

<div class="title-cart ml-4">
    <h2>{{ franchise_id }}</h2>
</div>

<div class="korzina">
    <p>
        Ваша корзина
    </p>
</div>

<div class="cart ml-6 mr-6 mt-3">
    <div class="col-12 mr-4 d-flex flex-row justify-content-between">

        <div id="cartItems" class="cart-items">

        </div>

        <div id="cartTitle" class="cart-title">

        </div>

        <!-- <div class="button-wrapper">
            <div class="quantity-wrapper mr-3">
                <button class="quantity-button" onclick="decreaseQuantity()">-</button>
                <p class="quantity-value">0</p>
                <button class="quantity-button" onclick="increaseQuantity()">+</button>
            </div>
        </div>

        <div id="cartPrice" class="cart-price">
            ...
        </div>

        <div>
            <img class="cart-icon"
                src="https://www.citypng.com/public/uploads/preview/rubbish-bin-basket-trash-white-icon-11637141431rrxgucag5m.png">
        </div> -->

        <div class="cart-modal ml-6">
            <p id="totalPrice" class="from-modal"></p>
            <p id="deliveryPrice" class="from-modal">Доставка: 500 ТГ</p>
            <hr class="hr-cart">
            <p id="totalPayment" class="from-modal">Всего к оплате:</p>

            {% if user.is_authenticated %}
            <button id="checkoutButton" type="button" class="cart-button">Оформить заказ</button>
            {% else %}
            <button type="button" class="cart-button"><a href="{% url 'login' %}" class="data-toggle-a">Оформить заказ</a></button>
            {% endif%}

            <div class='hiddenElement' id="hiddenElement">
                <h4>Выберите значения:</h4>
                <div style="color: white">
                    <input type="radio" id="card" name="status"> 
                    <label for="card">Оплата картой</label>
                </div>
                <div style="color: white">
                    <input type="radio" id="cash" name="status"> 
                    <label for="cash">Оплата при получении</label>
                </div>

                <button type="button" class="cart-button" id="openModal">Оформить заказ</button>
            </div>
            <!-- Modal-card -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                        <h2 class="text-center">Мой заказ</h2>
                        <form id="checkoutForm">
                            <div class="form-group">
                                <label for="cardNumber">Номер карты</label>
                                <input type="text" class="form-control" id="cardNumber" name="cardNumber" required>
                            </div>
                            <div class="form-group">
                                <label for="address">Адрес</label>
                                <input type="text" class="form-control" id="address" name="address" required>
                            </div>
                            <button type="button" class="cart-button" id="purchase-button">959Заказать</button>
                        </form>
                </div>
            </div>
            <!-- Modal-cash -->
            <div id="modal2" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                        <h2 class="text-center">Мой заказ</h2>
                        <form id="checkoutForm">
                            <div class="form-group">
                                <label for="cardNumber">Способ оплаты: При получении</label>
                            </div>
                            <div class="form-group">
                                <label for="address">Адрес</label>
                                <input type="text" class="form-control" id="address" name="address" required>
                            </div>
                            <button type="button" id="purchase-button">959Заказать</button>
                            <button type="submit" class="cart-button" id="cash-pay">Заказать</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/purchase_modal.js"></script>
<script>
const purchaseButton = document.getElementById('purchase-button');

// Add click event listener to the purchase button
purchaseButton.addEventListener('click', () => {
  // Retrieve the address and payment type values
  const address = document.getElementById('address').value;
  const paymentType = document.querySelector('input[name="status"]:checked').id;
  const payment = paymentType === 'card' ? 2 : 1; // Assign 2 for 'CARD' choice, 1 for 'CASH' choice

  // Create an object with the order data
//   const orderData = {
//     address: address,
//     payment: paymentType
//   };
const orderData = {
  address: address,
  payment: payment
};
  // Get the CSRF token value from the cookie
  const csrfToken = getCookie('csrftoken');

  // Send the order data to the server using AJAX/fetch
  fetch('/purchase/', {
    method: 'POST',
    body: JSON.stringify(orderData),
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrfToken // Include the CSRF token in the request headers
    }
  })
    .then(response => response.json())
    .then(data => {
      // Handle the response from the server
      // You can perform additional actions here, such as displaying a success message
      console.log('Order data sent:', data);
    })
    .catch(error => {
      // Handle any errors that occurred during the request
      console.error('Error:', error);
    });
});

// Helper function to get the value of a cookie by name
function getCookie(name) {
  const cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
  return cookieValue ? cookieValue.pop() : '';
}

  </script>
<script>
    // Обработчик события для кнопки "Оформить заказ"
    document.getElementById('checkoutButton').addEventListener('click', function() {
      var hiddenElement = document.getElementById('hiddenElement');

      if (hiddenElement.style.display === 'none') {
        hiddenElement.style.display = 'block';
      } else {
        hiddenElement.style.display = 'none';
      }
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get the hiddenElement, modal1, and modal2
        var hiddenElement = document.getElementById('hiddenElement');
        var modal1 = document.getElementById('modal1');
        var modal2 = document.getElementById('modal2');
    
        // Get the card and cash radio buttons
        var cardRadioButton = document.getElementById('card');
        var cashRadioButton = document.getElementById('cash');
    
        // Get the "Оформить заказ" button
        var orderButton = document.getElementById('openModal');
      
        // Add a click event listener to the "Оформить заказ" button
        orderButton.addEventListener('click', function() {
            debugger
        // Check if the card radio button is selected
        if (cardRadioButton.checked) {
            // Display modal1 and hide modal2
            modal1.style.display = 'block';
            modal2.style.display = 'none';
        } else if (cashRadioButton.checked) {
            // Display modal2 and hide modal1
            modal2.style.display = 'block';
            modal1.style.display = 'none';
        }
        });
    });
</script>

<script>
    var hiddenElement = document.getElementById('hiddenElement');
    var cardRadio = document.getElementById('card');
    var cashRadio = document.getElementById('cash');

    modal1.style.display = 'none';
    modal2.style.display = 'none';
    // Обработчик события для кнопки "Оформить заказ"
    var radioCartButton = document.getElementById('checkoutButton');
    radioCartButton.addEventListener('click', function() {
      hiddenElement.style.display = 'block';
    });
  
    // Обработчик события для радио-кнопок
    cardRadio.addEventListener('change', function() {
      if (this.checked) {
        console.log('Выбран способ оплаты картой');
      }
    });
  
    cashRadio.addEventListener('change', function() {
      if (this.checked) {
        console.log('Выбран способ оплаты при получении');
      }
    });
</script>
<script>
    // Restrict cardNumber input to 16 digits
    var cardNumberInput = document.getElementById('cardNumber');
    cardNumberInput.addEventListener('input', function () {
        this.value = this.value.replace(/[^0-9]/g, '');
        if (this.value.length > 16) {
            this.value = this.value.slice(0, 16);
        }
    });
</script>
<script>
    let quantityValue = 0;
  
    function decreaseQuantity() {
      if (quantityValue > 0) {
        quantityValue--;
        document.querySelector('.quantity-value').textContent = quantityValue;
      }
    }
  
    function increaseQuantity() {
      quantityValue++;
      document.querySelector('.quantity-value').textContent = quantityValue;
    }
</script>

<!-- <script>
    document.addEventListener("DOMContentLoaded", function () {
    var cartItems = JSON.parse(localStorage.getItem("cart"));

    var cartItemsElement = document.getElementById("cartItems");
    for (var key in cartItems) {
        if (cartItems.hasOwnProperty(key)) {
            var item = cartItems[key];
            var title = item.title;
            var quantity = item.quantity;
            var image = item.image;
            var price = item.price;

            var container = document.createElement("div");
            container.classList.add("cartItemContainer");
            container.style.borderRight= "2px solid #ffffff";
            container.style.marginRight = "10px";

            // Задаем цвет границы (в данном случае красный цвет)

            var img = document.createElement('img');
            img.src = "/media/" + image;
            img.width = 100;
            img.height = 100;
            img.classList.add("cartItemImage");

            var hr = document.createElement("hr");
            hr.classList.add("vertical-line");
            // hr.classList.add('d-block')

            var row = document.createElement("div");
            row.classList.add("row");

            var titleElement = document.createElement("div");
            titleElement.textContent = title;
            titleElement.classList.add("row-item-title");

            var quantityElement = document.createElement("div");
            // quantityElement.textContent = "Количество: ";
            quantityElement.classList.add("row-item-quantity");

            var quantityValue = document.createElement("span");
            quantityValue.textContent = quantity;
            quantityValue.classList.add("quantityValue");

            var decreaseButton = document.createElement("button");
            decreaseButton.textContent = "-";
            decreaseButton.classList.add("quantityButton");
            decreaseButton.addEventListener("click", decreaseQuantity);

            var increaseButton = document.createElement("button");
            increaseButton.textContent = "+";
            increaseButton.classList.add("quantityButton");
            increaseButton.addEventListener("click", increaseQuantity);

            var priceElement = document.createElement("div");
            priceElement.textContent = price * quantity + " ТГ";
            priceElement.classList.add("row-item-price");

            var imageElement = document.createElement("img");
            imageElement.src = "https://i.postimg.cc/TwwwPzkw/bpmn-trash.png";
            imageElement.width = 30;
            imageElement.height = 30;
            imageElement.classList.add("deleteImage");

            row.appendChild(titleElement);
            row.appendChild(quantityElement);
            quantityElement.appendChild(decreaseButton);
            quantityElement.appendChild(quantityValue);
            quantityElement.appendChild(increaseButton);
            row.appendChild(priceElement);
            row.appendChild(imageElement);

            container.appendChild(img);
            container.appendChild(row);


            cartItemsElement.appendChild(container);
        }
    }
});
</script> -->
<!-- Assuming this code is within the HTML template -->
<script>
    document.getElementById("openModal").addEventListener("click", function() {
    document.getElementById("modal1").style.display = "block";
});

document.getElementById("modal1").addEventListener("click", function(event) {
    if (event.target === this) {
        document.getElementById("modal1").style.display = "none";
    }
});

document.querySelector(".close").addEventListener("click", function() {
    document.getElementById("modal1").style.display = "none";
});

document.getElementById("openModal").addEventListener("click", function() {
    document.getElementById("modal2").style.display = "block";
});

document.getElementById("modal2").addEventListener("click", function(event) {
    if (event.target === this) {
        document.getElementById("modal2").style.display = "none";
    }
});

document.querySelector(".close").addEventListener("click", function() {
    document.getElementById("modal2").style.display = "none";
});
</script>
<script>
    function decreaseQuantity(key) {
        var cartItems = JSON.parse(localStorage.getItem("cart"));
        var item = cartItems[key];

        if (item.quantity > 1) {
            item.quantity--;
            localStorage.setItem("cart", JSON.stringify(cartItems));
            updateQuantityElement(key, item.quantity);
            updatePrice(key, item.quantity);
            calculateTotalPrice();
        }
    }

    function increaseQuantity(key) {
        var cartItems = JSON.parse(localStorage.getItem("cart"));
        var item = cartItems[key];

        item.quantity++;
        localStorage.setItem("cart", JSON.stringify(cartItems));
        updateQuantityElement(key, item.quantity);
        updatePrice(key, item.quantity);
        calculateTotalPrice();
    }

    function updatePrice(key, quantity) {
        var item = JSON.parse(localStorage.getItem("cart"))[key];
        var price = item.price;
        var totalPrice = price * quantity;
        document.getElementById("price-" + key).textContent = "Цена: " + totalPrice + " ТГ";
    }

    function updateQuantityElement(key, quantity) {
        var quantityElement = document.getElementById("quantity-" + key);
        quantityElement.textContent = quantity;
    }

    function deleteCartItem(key) {
        var cartItems = JSON.parse(localStorage.getItem("cart"));
        delete cartItems[key];
        localStorage.setItem("cart", JSON.stringify(cartItems));

        var cartItemContainer = document.getElementById("cartItem-" + key);
        cartItemContainer.remove();
        calculateTotalPrice();
    }

    function calculateTotalPrice() {
        var cartItems = JSON.parse(localStorage.getItem("cart"));
        var totalCartPrice = 0;

        for (var key in cartItems) {
            if (cartItems.hasOwnProperty(key)) {
                var item = cartItems[key];
                var price = item.price;
                var quantity = item.quantity;
                var itemTotalPrice = price * quantity;
                totalCartPrice += itemTotalPrice;
            }
        }

        var totalPriceElement = document.getElementById("totalPrice");
        var totalPaymentElement = document.getElementById("totalPayment");

        totalPriceElement.textContent = "Итого: " + totalCartPrice + " ТГ";
        totalPaymentElement.textContent = "Всего к оплате: " + (totalCartPrice + 500) + " ТГ";
    }

    document.addEventListener("DOMContentLoaded", function () {
        var cartItems = JSON.parse(localStorage.getItem("cart"));
        var cartItemsElement = document.getElementById("cartItems");

        for (var key in cartItems) {
            if (cartItems.hasOwnProperty(key)) {
                var item = cartItems[key];
                var title = item.title;
                var quantity = item.quantity;
                var image = item.image;
                var price = item.price;

                var container = document.createElement("div");
                container.classList.add("cartItemContainer");
                container.id = "cartItem-" + key;

                var img = document.createElement('img');
                img.src = "/media/" + image;
                img.width = 100;
                img.height = 100;
                img.classList.add("cartItemImage");

                var row = document.createElement("div");
                row.classList.add("row");

                var titleElement = document.createElement("div");
                titleElement.textContent = title;
                titleElement.classList.add("row-item-title");

                var quantityElement = document.createElement("div");
                quantityElement.textContent = quantity;
                quantityElement.id = "quantity-" + key;
                quantityElement.classList.add("row-item-quantity");

                var decreaseButton = document.createElement("button");
                decreaseButton.textContent = "-";
                decreaseButton.classList.add("quantityButton");
                decreaseButton.addEventListener("click", decreaseQuantity.bind(null, key));

                var increaseButton = document.createElement("button");
                increaseButton.textContent = "+";
                increaseButton.classList.add("quantityButton1");
                increaseButton.addEventListener("click", increaseQuantity.bind(null, key));

                var priceElement = document.createElement("div");
                var totalPrice = price * quantity;
                priceElement.textContent = "Цена: " + totalPrice + " ТГ";
                priceElement.id = "price-" + key;
                priceElement.classList.add("row-item-price");

                var deleteButton = document.createElement("img");
                deleteButton.src = "https://i.postimg.cc/TwwwPzkw/bpmn-trash.png";
                deleteButton.classList.add("deleteImage");
                deleteButton.addEventListener("click", deleteCartItem.bind(null, key));

                row.appendChild(img);
                row.appendChild(titleElement);
                row.appendChild(decreaseButton);
                row.appendChild(quantityElement);
                row.appendChild(increaseButton);
                row.appendChild(priceElement);
                row.appendChild(deleteButton);

                container.appendChild(row);
                cartItemsElement.appendChild(container);
            }
        }

        calculateTotalPrice();
    });

    document.getElementById("checkoutButton").addEventListener("click", function () {
        var cartItems = JSON.parse(localStorage.getItem("cart"));
        var data = [];

        for (var key in cartItems) {
            if (cartItems.hasOwnProperty(key)) {
                var item = cartItems[key];
                var foodId = key;
                var price = item.price;
                var quantity = item.quantity;
                var totalPrice = item.price * quantity;
                var user = "{{ user.id }}";  // Replace with the appropriate user identifier

                var order = {
                    food_id: foodId,
                    price: price,
                    quantity: quantity,
                    total_price: totalPrice,
                    user_id: user,
                };

                data.push(order);
            }
        }

        fetch('/order/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',  // Include the CSRF token for Django
            },
            body: JSON.stringify(data),
        })
        .then(response => {
            if (response.ok) {
                console.log("Checkout successful");
            } else {
                console.error("Checkout failed");
            }
        })
        .catch(error => {
            console.error("An error occurred during checkout:", error);
        });
    });
</script>

{% endblock %}
